<h1>Listing Sessions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Login at</th>
      <th>Logout at</th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.user.mail %></td>
        <td><%= session.login_at %></td>
        <td><%= session.logout_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
