<div>
  <h1><%=t 'activerecord.models.album' %></h1>
  <div>
  <% @albums.each do |album| %>
    <div><%= link_to album.title, album %></div>
  <% end %>
  </div>
</div>
<div>
  <h1><%=t 'activerecord.models.selection' %></h1>
  <div>
  <% @selections.each do |selection| %>
    <div><%= link_to "#{selection.album.title}##{selection.id}", selection %></div>
  <% end %>
  </div>
</div>
